/*--------------------------------------------------------------
Clearings
--------------------------------------------------------------*/

.clear,
.entry-content,
.comment-content,
.site-header,
.site-main,
.site-content,
.page-content,
.site-footer,
.nav-links,
.gallery,
.sharedaddy {
	&:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}